<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Food</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row class="searchbar-container">

    <ion-searchbar #searchBar
      spellcheck="true"
      (ionInput)="searchFoods($event)"></ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let food of matchingFoodTemplates"
        (tap)="selectFood(food)">
        {{ food.name }}
        <p>{{ food.description }}</p>
      </ion-item>
    </ion-list>

  </ion-row>

  <ion-list style="margin-top: 60px">

    <ion-row justify-content-center
      (tap)="showIcons()">

      <ion-thumbnail>
        <img *ngIf="userInput.icon"
          src="assets/icons/foods/{{ userInput.icon }}.svg">
      </ion-thumbnail>
      <div *ngIf="!userInput.icon"
        class="icon-placeholder">
        Icon
      </div>

    </ion-row>

    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text"
        [(ngModel)]="userInput.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description (optional)</ion-label>
      <ion-input type="text"
        [(ngModel)]="userInput.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Purchase date</ion-label>
      <ion-datetime displayFormat="M/D/YYYY"
        [max]="maxPurchaseDate"
        [(ngModel)]="userInput.purchaseDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Location</ion-label>
      <ion-select [(ngModel)]="userInput.location"
        (ionChange)="onLocationChange()">
        <ion-option *ngFor="let location of possibleLocations"
          [value]="location">
          {{ location | capitalize }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="userInput.location">
      <ion-label stacked>Best by</ion-label>
      <ion-datetime displayFormat="M/D/YYYY"
        [(ngModel)]="userInput.expDate"></ion-datetime>
    </ion-item>

    <ion-row margin-top>

      <ion-col>
        <button ion-button
          icon-start
          block
          color="secondary"
          (tap)="clearUserInput()">
          <ion-icon name="close"></ion-icon>
          Clear</button>
      </ion-col>

      <ion-col>
        <button ion-button
          icon-start
          block
          color="secondary">
          <ion-icon name="add"></ion-icon>
          Add</button>
      </ion-col>

    </ion-row>

  </ion-list>

</ion-content>
